<!-- <p>home works!</p> -->
<app-header></app-header>
<div class="conatiner-fluid max-fluid">
  <div class="row max-height justify-content-center align-items-center">
    <div class="col-10 mx-auto banner text-center">
     <h1 class="text-capitalize color-cream-white">
       welcome to <strong class="banner-title font-kaushan">RuMu's Fashion</strong>
     </h1>
     <a href="#store" class="btn banner-link text-uppercase my-2 color-cream-white">Explore</a>
    </div>
   </div>
</div>
<app-products></app-products>
<app-footer></app-footer>
